software-properties-common
build-essential
git
wget
curl
m4
automake
libtool
gsfonts
unzip
jq
sudo
docker.io
gsfonts-x11
cloc
autoconf
mlocate
zip
libssl-dev
libffi-dev
libffi7
libgl1-mesa-dev
git-core
